<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Document</title>
</head>
<body>
    <div class="menu-container" >
            
        <nav class="menu" >
         
        <button class="desplegar" >
                        <span>Menu +</span>
                        <div class="megaMenu" >
                        <h2 class="menu-header" >Nuestros Tutoriales</h2>
                           <div class="categorias" >
                             <!--  -->
                           <h1>Este es un h1 en el contenido de mi menu</h1>
                           <h2>Este es un h2 en el contenido de mi menu</h2>
                           <a href="/">Este es el ejemplo de una etiqueta a</a>
                          
                              
                        </div> 
                         
                        </div>   
                    </button>
                    </nav>
                </div>
</body>
</html>